*{
   margin:0px; /*바깥쪽 여백*/
   padding:0px; /*안쪽 여백*/
   list-style:none; /*항목 모양의 종류*/
   text-decoration:none; /*텍스트에 장식용 선을 추가*/
   color:black;
}

.header{
   height: 145px; 
   text-align:center; /*텍스트를 가운데로 옮기기*/
   border-bottom: 1px solid #999; /*아래쪽 테두리 설정*/
}

.header_logo h1{
   font:bold 40px 'arial'; 
   padding-top: 14px;
   letter-spacing: 2px; /*글자 사이 간격*/
}
 
.header_logo p{
   font:bold 12px 'arial';
   letter-spacing:2px;
}

.header_gnb ul{
   margin-top:30px; /*요소의 위쪽 바깥 여백 영역*/
}

.header_gnb ul li{
   display:inline-block; /*줄바꿈 없이 한 줄에 다른 엘리먼트들과 나란히 배치*/
}

.header_gnb ul li a{
   display: block; /*블록 박스*/
   font:bold 14px 'arial';
   color:#999;
   margin:0px 16px;
}
